
RiceManagement/RiceManagement/appsettings.json
RiceManagement/.vs/RiceManagement/config/applicationhost.config
RiceManagement/.vs/RiceManagement/DesignTimeBuild/.dtbcache.v2
RiceManagement/.vs/RiceManagement/v17/.futdcache.v1
RiceManagement/.vs/RiceManagement/v17/.suo
RiceManagement/RiceManagement/appsettings.json
RiceManagement/RiceManagement/bin/Debug/net6.0/appsettings.json
RiceManagement/RiceManagement/bin/Debug/net6.0/RiceManagement.dll
RiceManagement/RiceManagement/bin/Debug/net6.0/RiceManagement.pdb
RiceManagement/RiceManagement/bin/Debug/net6.0/RiceManagement.exe
